.zsm-button {
  @apply whitespace-nowrap flex gap-2 items-center h-fit disabled:cursor-not-allowed hover:outline-none hover:outline-0 focus:outline-none transition-all duration-300 ease-out !important;
}

.zsm-button--primary {
  @apply text-white text-base bg-green py-3 px-4 justify-center rounded hover:bg-grey-dark-1 disabled:bg-green/15 disabled:hover:ring-0 !important;
}

.zsm-button--secondary {
  @apply text-green hover:text-white text-base bg-light-green py-3 px-4 justify-center rounded hover:bg-grey-dark-1 disabled:bg-green/15 disabled:hover:ring-0 !important;
}

.zsm-button--tertiary {
  @apply text-green hover:text-white text-base bg-transparent py-3 px-4 justify-center rounded hover:bg-grey-dark-1 disabled:bg-green/15 disabled:hover:ring-0 !important;
}

.zsm-button--grey {
  @apply text-grey-dark-1 hover:text-white font-medium text-sm bg-grey-dark-4 py-3 px-4 justify-center rounded hover:bg-grey-dark-1 disabled:bg-green/15 disabled:hover:ring-0 !important;
}

.zsm-button--white {
  @apply text-white hover:text-white text-base border border-white hover:border-transparent bg-transparent py-3 px-6 justify-center rounded disabled:hover:ring-0 !important;
}

.zsm-button--ghost {
  @apply text-grey-dark-1 hover:text-white font-medium text-sm bg-transparent py-3 px-4 justify-center rounded hover:bg-grey-dark-1 disabled:bg-green/15 disabled:hover:ring-0 !important;
}

.zsm-button--arrow-cta-1 {
  @apply rounded-lg bg-transparent text-base font-medium text-[#429200] hover:bg-light-green justify-center px-2 py-2.5 !important;
}

.zsm-button--arrow-cta-1 > svg {
  @apply text-[#429200] !important;
}

.zsm-button--arrow-cta-2 {
  @apply w-full rounded-lg bg-light-green border border-transparent text-base text-grey-dark-1 focus:text-white hover:border-green focus:bg-green focus:border-green justify-between px-4 py-[1.125rem] !important;
}

.zsm-button--arrow-cta-2:focus > svg {
  @apply text-white !important;
}

.zsm-button--block {
  @apply w-full !important;
}

.spinner {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
