@import "../../../forms.css";

@layer base {
  .zsm-otp-input {
    font-family: "Krub", sans-serif !important;
  }
}

.zsm-input--label {
  @apply text-grey-dark-2 font-normal text-sm !important;
}

.zsm-input--error {
  @apply text-semantics-red font-normal text-xs !important;
}

.zsm-input {
  @apply rounded-lg text-base w-full flex py-2.5 border border-grey-dark-3 bg-white focus:border-green focus:bg-light-green text-grey-dark-1 focus:ring focus:ring-green/[0.24] disabled:bg-white disabled:border-grey-dark-3 disabled:text-grey-dark-3 caret-grey-dark-1 transition-all duration-300 ease-out !important;
}

.toggle-password-icon {
  @apply absolute bottom-3 flex items-center right-0 pr-4;
}

.password-icon {
  @apply h-4 w-4 text-grey-dark-1 !important;
}

.zsm-input--inner {
  @apply relative w-full h-fit;
}

.zsm-input--outer {
  @apply grid gap-2 content-start w-full h-fit relative;
}

.zsm-otp-input {
  @apply rounded-md w-20 h-20 text-3xl font-semibold font-krub text-center py-5 px-5 border border-grey-dark-3 bg-white focus:border-green text-grey-dark-1 focus:ring focus:ring-green/[0.24] disabled:border-grey-dark-3 disabled:text-grey-dark-3 caret-grey-dark-1 transition-all duration-300 ease-out !important;
}

.zsm-search-input {
  @apply rounded-lg w-full text-base flex py-3 pl-2 border border-grey-dark-3 bg-white focus:border-green text-grey-dark-1 disabled:border-grey-dark-3 disabled:text-grey-dark-3 focus:ring focus:ring-green/[0.24] caret-grey-dark-1 transition-all duration-300 ease-out placeholder:text-grey-dark-2 placeholder:font-normal !important;
}

.PhoneInputInput {
  @apply rounded-lg rounded-l-none w-full flex p-2.5 border border-grey-dark-3 bg-white focus:border-green text-grey-dark-1 focus:ring focus:ring-green/[0.24] disabled:border-grey-dark-3 disabled:text-grey-dark-3 caret-grey-dark-1 transition-all duration-300 ease-out !important;
}

.PhoneInputCountry {
  @apply border-y border-l border-y-grey-dark-3 rounded-lg rounded-r-none border-l-grey-dark-3 mr-0 pl-4 !important;
}

.PhoneInput {
  @apply flex items-center gap-0 !important;
}

.PhoneInputCountryIcon--border {
  background-color: none !important;
  box-shadow: none !important;
}
