.table-th {
  @apply text-grey-dark-1 font-semibold text-sm py-4 px-2 text-left whitespace-nowrap;
}

.page-input[type="number"] {
  -moz-appearance: textfield !important;
}
.input-styles {
  @apply border-[#CDCEDA] rounded-md !important;
}
/* .custom-dashed-box {
  border-width: 2px;
  border-style: dashed;
  border-image: repeating-linear-gradient(to right, #16a34a 0, #16a34a 10px, transparent 10px, transparent 18px) 1;
} */

.custom-dashed-box {
  border-width: 2px;
  border-style: dashed;
  border-color: transparent;
  border-image: repeating-linear-gradient(45deg, #16a34a 0, #16a34a 10px, transparent 10px, transparent 18px) 10;
}
